<% content_for(:head) do %>
  <%= captcha_script_tag %>
<% end %>

<h2>
  Sign Up: Email confirmation link
</h2>

<%= form_with(model: @new_form, url: @new_form.url, html: { method: @new_form.method }) do |form| %>
  <div class="mb-3">
    <%= form.label(:email, 'Email address', class: 'form-label') %>
    <%= form.email_field(
      :email,
      autofocus: true,
      autocomplete: "email",
      class: 'form-control',
      aria: { describedby: "email-help" }
    ) %>
    <div id="email-help" class="form-text">
      We'll send you a message with the link to confirm your email address.
    </div>
  </div>

  <div class="mb-3">
    <%= captcha_widget_tag %>
  </div>

  <div class="mb-3">
    <%= form.submit(
      'Send confirmation link',
      class: 'btn btn-primary',
      data: { 'turbo-submits-with' => 'Loading...' }
    ) %>
  </div>
<% end %>
