<% content_for(:head) do %>
  <%= @captcha.script_tag %>
<% end %>

<h2>Vote for you server!</h2>

<p>
  <%= @server.name %>
</p>

<%= form_with(model: @new_form, url: @new_form.url(@server), method: @new_form.method) do |form| %>
  <%= @captcha.widget_tag %>

  <%= form.hidden_field(:reference, value: @reference) %>

  <% if @new_form.errors.include?(:reference) %>
    <div class="">
      <code>reference</code> <%= @new_form.errors[:reference].to_sentence %>
    </div>
  <% end %>

  <%= form.submit('Click to vote!', class: 'btn btn-primary') %>
<% end %>
