<p>
  Hi <%= @email %>!
</p>

<p>
  You requested to change your email address from <%= @email %> to <%= @change_email %>.
</p>

<p>
  An email confirmation link has been sent to the new <%= @change_email %> address.
</p>

<p>
  You can revert this action in the next 30 days with the link below:
</p>

<p>
  <%= link_to(
    "Change email reversion link",
    edit_users_change_email_reversion_url(token: @change_email_reversion_token)
  ) %>
</p>

<p>
  And this verification code:
</p>

<p>
  <%= @change_email_reversion_code %>
</p>
