<%= render(AlertComponent.new(**alert_options)) do %>
  <% if content.size > 1 %>

    <ul class="mb-0 ps-4">
      <% content.each do |content_item| %>
        <li>
          <% if html_safe %>
            <%= StringHelper.format_sentence(content_item).html_safe %>
          <% else %>
            <%= StringHelper.format_sentence(content_item) %>
          <% end %>
        </li>
      <% end %>
    </ul>

  <% else %>

    <% if html_safe %>
      <%= StringHelper.format_sentence(content.first).html_safe %>
    <% else %>
      <%= StringHelper.format_sentence(content.first) %>
    <% end %>

  <% end %>
<% end %>
