<div data-turbo-cache="false">
  <% @flash.each do |flash_item| %>
    <%
      alert_kwargs = build_alert_kwargs(flash_item)
      contents = parse_contents(flash_item)
      html_safe = parse_html_safe(flash_item)
    %>

    <%= render(AlertComponent.new(**alert_kwargs)) do %>
      <% if contents.size > 1 %>

        <ul class="mb-0 ps-4">
          <% contents.each do |content| %>
            <li>
              <% if html_safe %>
                <%= content.html_safe %>
              <% else %>
                <%= content %>
              <% end %>
            </li>
          <% end %>
        </ul>

      <% else %>
        <% if html_safe %>
          <%= contents.first.html_safe %>
        <% else %>
          <%= contents.first %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
</div>
