<%#
  This template is i18n-ready: if you don't use i18n, then you can replace the pagy_t
  calls with the actual strings ("&lsaquo; Prev", "Next &rsaquo;", "&hellip;").

  The link variable is set to a proc that returns the link tag.
  Usage: link.call( page_number [, text [, extra_attributes_string ]])
-%>
<div class="flex items-center justify-center">
  <nav role="navigation" aria-label="Pagination" class="<%= @page_nav_classes %>">
    <ul class="inline-flex">
      <% if @pagy.prev %>
        <li>
          <%==
            @pagy_link_proc.call(
              @pagy.prev,
              pagy_t('pagy.nav.prev'),
              "aria-label=\"previous\" class=\"#{@page_prev_enabled_classes}\""
            )
          %>
        </li>
      <% else %>
        <li>
          <span class="<%= @page_prev_disabled_classes %>">
            <%== pagy_t('pagy.nav.prev')%>
          </a>
        </li>
      <% end %>

      <% @pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] %>
        <% if item.is_a?(Integer) %>
          <li>
            <%== @pagy_link_proc.call(item, item, "class=\"#{@page_classes}\"") %>
          </li>
        <% elsif item.is_a?(String) %>
          <li>
            <span class="<%= @page_current_classes %>">
              <%= item %>
            </span>
          </li>
        <% elsif item == :gap %>
          <li>
            <span class="<%= @page_gap_classes %>">
              <%== pagy_t('pagy.nav.gap') %>
            </span>
          </li>
        <% end %>
      <% end %>

      <% if @pagy.next %>
        <li>
          <%==
            @pagy_link_proc.call(
              @pagy.next,
              pagy_t('pagy.nav.next'),
              "aria-label=\"next\" class=\"#{@page_next_enabled_classes}\""
            )
          %>
        </li>
      <% else %>
        <li>
          <span class="<%= @page_next_disabled_classes %>">
            <%== pagy_t('pagy.nav.next') %>
          </span>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
