<div>
  <div>
    Image
  </div>
  <div>
    <%= @server.name %><br>
    rank badge
  </div>
  <div>
    <%= @server.kind %><br>
    <%= @server.site_url %><br>
    <%= @server.uuid %><br>
    <%= @server.description %><br>
  </div>
</div>
