<div>
  <div>
    Image
  </div>
  <div>
    <%= @server.name %><br>
    rank badge
  </div>
  <div>
    <%= @server.kind %><br>
    <%= @server.site_url %><br>
    <%= ShortUuid.from_uuid(@server.uuid) %><br>
    <%= @server.description %><br>
    <div class="prose">
      <%= @server.info %>
    </div>
  </div>
</div>
