<% content_for(:head) do %>
  <%= @captcha.script_tag %>
<% end %>

<h2>Resend unlock instructions (Admin)</h2>

<%= render("admin_users/shared/error_messages", resource: resource) %>

<%= form_with(model: resource, url: unlock_path(resource_name), html: { method: :post }) do |form| %>
  <div class="mb-2">
    <%= form.label(:email) %><br />
    <%= form.email_field(:email, autofocus: true, autocomplete: "email") %>
  </div>

  <div class="my-2">
    <%= @captcha.widget_tag %>
  </div>

  <div class="mb-2">
    <%=
      form.submit(
        "Resend unlock instructions",
        class: 'btn btn-primary',
        data: { 'turbo-submits-with' => 'Loading...' }
      )
    %>
  </div>
<% end %>

<%= render("admin_users/shared/links") %>
