<div class="mb-2 sticky top-2">
  <%=
    form_with(
      method: :get,
      data: {
        'controller' => 'servers',
        'action' => 'change->servers#filter'
      }
    ) do |form| %>
      <%= render(AppSelectComponent.new(
        form,
        only_in_use: true,
        blank_name: 'All',
        selected_value: @selected_value_app_id
      )) %>
      <div class="flex">
        <%= render(PeriodSelectComponent.new(
          form,
          selected_value: @selected_value_period
        )) %>

        <%= render(CountrySelectComponent.new(
          form,
          only_in_use: true,
          blank_name: 'All',
          selected_value: @selected_value_country_code
        )) %>
      </div>
  <% end %>

  <%= render(PaginationComponent.new(pagination: @pagination)) %>
</div>

<% if @servers.any? %>
  <ul>
    <% @servers.each do |server| %>
      <li>
        <%=
          render(Servers::IndexResultComponent.new(
            server: server,
            period: @period,
            country_code: @country_code,
            server_stats_hash: @server_stats_hash[server.id]
          ))
        %>
      </li>
    <% end %>
  <ul>
<% else %>
  Not Found
<% end %>
