<div class="mb-2 sticky top-2">
  <%=
    form_with(
      method: :get,
      data: {
        controller: 'servers',
        action: 'change->servers#filter'
      }
    ) do |form| %>
      <%=
        form.select(
          :app_id,
          (
            options_for_select([@default_app_id_option], @selected_value_for_app_id) +
            grouped_options_for_select(@app_id_options, @selected_value_for_app_id)
          ),
          {},
          { class: 'block w-full' }
        )
      %>
      <div class="flex">
        <%=
          form.select(
            :period,
            options_for_select(@period_options, @selected_value_for_period),
            {},
            { class: 'block grow-0 md:w-1/3' }
          )
        %>
        <%=
          form.select(
            :country_code,
            options_for_select(
              [@default_country_code_option] + @country_code_options,
              @selected_value_for_country_code
            ),
            {},
            { class: 'block grow md:w-2/3' }
          )
        %>
      </div>
  <% end %>

  <% if @servers.any? && (@pagination.prev_page? || @pagination.next_page?) %>
    <%= render(PaginationComponent.new(pagination: @pagination)) %>
  <% end %>
</div>

<% if @servers.any? %>
  <ul>
    <% @servers.each do |server| %>
      <li>
        <%=
          render(Servers::IndexResultComponent.new(
            server: server,
            period: @period,
            country_code: @country_code,
            server_stats_hash: @server_stats_hash[server.id]
          ))
        %>
      </li>
    <% end %>
  <ul>
<% else %>
  Not Found
<% end %>
