<%= render(layout: 'shared/alert', object: AlertPresenter.new(**flash_item.alert_options)) do %>
  <% if flash_item.content.size > 1 %>

    <ul class="mb-0 ps-4">
      <% flash_item.content.each do |content| %>
        <li>
          <% if flash_item.html_safe %>
            <%= content.html_safe %>
          <% else %>
            <%= content %>
          <% end %>
        </li>
      <% end %>
    </ul>

  <% else %>
    <% if flash_item.html_safe %>
      <%= flash_item.content.first.html_safe %>
    <% else %>
      <%= flash_item.content.first %>
    <% end %>
  <% end %>
<% end %>
