<h1>Home</h1>

<%= link_to("I'm a primary button link", "#", class: 'btn btn-primary') %>
<%= link_to("I'm a secondary button link", "#", class: 'btn btn-secondary') %>
<%= link_to("I'm a info button link", "#", class: 'btn btn-info') %>
<%= link_to("I'm a danger button link", "#", class: 'btn btn-danger') %>
<%= link_to("I'm a warning button link", "#", class: 'btn btn-warning') %>
<%= link_to("I'm a success button link", "#", class: 'btn btn-success') %>

<%= form_with do |form| %>
  <div class="grid grid-cols-1 gap-2">
    <%= form.label(:someting, "I'm a label") %>
    <%= form.text_field(:someting) %>

    <%= form.label(:email, "Email") %>
    <%= form.email_field(:email, placeholder: 'test@example.com') %>

    <%= form.label(:date, "Date") %>
    <%= form.date_field(:date) %>
  </div>
<% end %>
