<h2>Change your password</h2>

<%= render("admin_users/shared/error_messages", resource: resource) %>

<%= form_with(model: resource, url: password_path(resource_name), html: { method: :put }) do |form| %>
  <%= form.hidden_field(:reset_password_token) %>

  <div class="mb-2">
    <%= form.label(:password, "New password") %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= form.password_field(:password, autofocus: true, autocomplete: "new-password") %>
  </div>

  <div class="mb-2">
    <%= form.label(:password_confirmation, "Confirm new password") %><br />
    <%= form.password_field(:password_confirmation, autocomplete: "new-password") %>
  </div>

  <div class="mb-2">
    <%= form.submit("Change my password", { class: 'btn btn-primary' }) %>
  </div>
<% end %>

<%= render("admin_users/shared/links") %>
