<% content_for(:head) do %>
  <%= @captcha.script_tag %>
<% end %>

<h2>Forgot your password?</h2>

<%= render("users/shared/error_messages", resource: resource) %>

<%= form_with(model: resource, url: password_path(resource_name), html: { method: :post }) do |form| %>
  <div class="mb-2">
    <%= form.label(:email) %><br />
    <%= form.email_field(:email, autofocus: true, autocomplete: "email") %>
  </div>

  <div class="my-2">
    <%= @captcha.widget_tag %>
  </div>

  <div class="mb-2">
    <%= form.submit("Send me reset password instructions", { class: 'btn btn-primary' }) %>
  </div>
<% end %>

<%= render("users/shared/links") %>
