
<%= link_to('Edit', edit_admin_user_path(@user)) %>
<%= link_to('Delete', admin_user_path(@user), method: :delete) %>


<h3>Details</h3>

<div>

  <div>
    <div>Email</div>
    <div><%= @user.email %></div>
  </div>

  <div>
    <div>ID</div>
    <div><%= @user.id %></div>
  </div>
</div>

<div>
  <%= @user.email_confirmed_at %>
  <%= @user.change_email %>
  <%= @user.email_confirmation_sent_at %>

  <%= @user.failed_attempts %>

  <%= @user.locked_at %>
  <%= @user.locked_reason %>
  <%= @user.locked_comment %>

  <%= @user.password_reset_sent_at %>

  <%= @user.sign_in_count %>

  <%= @user.created_at %>
  <%= @user.updated_at %>
</div>
