<h2>
  Set your password
</h2>

<%= form_with(
  model: @password_reset_edit,
  method: :put,
  url: users_password_reset_path,
  data: { 'controller' => 'form-error-messages-handler' }
) do |form| %>
  <%= form.hidden_field(:token) %>

  <div class="mb-3">
    <%= form.label(:password, "Enter your new password", class: 'form-label') %>
    <%= form.password_field(
      :password,
      autocomplete: 'new-password',
      class: 'form-control',
      aria: { describedby: 'password-help' }
    ) %>
    <div id="password-help" class="form-text">
      Minimum password length is 8 characters.
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit(
      "Set password",
      { class: 'btn btn-primary' }
    ) %>
  </div>
<% end %>
