<h2>
  <%= t("shared.nav.sign_up") %>:
  <%= t("users.email_confirmations.edit.title") %>
</h2>

<%= form_with(
  model: @email_confirmation,
  method: :put,
  url: users_email_confirmation_path,
  data: { "controller" => "form-error-messages-handler" }
) do |form| %>
  <%= form.hidden_field(:token) %>

  <div class="my-3">
    <%= form.label(:code, class: "form-label") %>
    <%= form.text_field(
      :code,
      autofocus: true,
      autocomplete: "off",
      class: "form-control",
      aria: { describedby: "code-help" },
      required: true
    ) %>
  </div>

  <div id="code-help" class="form-text">
    <%= t("users.email_confirmations.edit.code_help") %>
  </div>

  <div class="my-3">
    <%= form.submit(
      t("users.email_confirmations.edit.submit"),
      class: "btn btn-primary",
      data: {
        "turbo-submits-with" => t("shared.button.confirming")
      }.compact,
    ) %>
  </div>
<% end %>

