<!doctype html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>WebApp | Admin</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "admin", "data-turbo-track": "reload", defer: true %>

  <meta name="turbo-prefetch" content="false">

  <%= yield(:head) %>
</head>
<body data-controller="browser-time-zone">
  <%= render('shared/noscript') %>
  <%= render('shared/admin/header') %>
  <%= render('shared/admin/nav') %>
  <%= render('shared/admin/main') %>
  <%= render('shared/admin/footer') %>
</body>
</html>
