<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= yield(:title).presence || default_title %>
  </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <%= yield(:head) %>
</head>
<body data-controller="browser-time-zone">
  <%= render('shared/noscript') %>
  <%= render('shared/header') %>
  <%= render('shared/nav') %>
  <%= render('shared/main') %>
  <%= render('shared/footer') %>
</body>
</html>
